{{#if hotel}}
    <div>
        <p>{{hotel.title}}</p>
        <p>{{hotel.location}}</p>
        <img class="hotel-image-list" src="{{hotel.image_url}}" alt="hotel image">
        <p>{{hotel.description}}</p>
    </div>
    <br>
    {{#if currentUser}}
        <form action="/hotel/details/{{hotel.id}}" method="post">
            <textarea name="comment" placeholder="Add comment..."></textarea>
            <br>
            <input type="submit" value="Add Comment">
        </form>
    {{/if}}
    <br>
    <br>
    <div>
        <p>Comments:</p>
        <br>
        {{#if isAdmin}}
            {{#each comments}}
                <p>{{this.text}}</p>
                <small>{{this.username}}</small>
                <a href="/comment/delete?commentId={{this.id}}&hotelId={{this.hotelId}}">DELETE</a>
            {{/each}}
        {{else}}
            {{#each comments}}
                <p>{{this.text}}</p>
                <small>{{this.username}}</small>
            {{/each}}
        {{/if}}
    </div>
{{/if}}